@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h5 class="display-4">OAuth Token Exchange delegated flow</h5>

    <p>Razor UI protected with Microsoft Entra ID using delagted API protected with Microsoft Entra ID which uses API protected with OpenIddict identity provider</p>
</div>
